<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_IApiService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://test.sstregister.org/Api.svc" binding="wsHttpBinding" 
                bindingConfiguration="wsHttpBinding_IApiService" contract="SstRegistrationService.IApiService" name="wsHttpBinding_IApiService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA9yyKtVf+EgPjrQAhKyUSA3/MkOMgAAAAAQAAAAsCAAAwggIHMIIBdKADAgECAhCkAtcCx01FtUXa+lCG7tJ5MAkGBSsOAwIdBQAwHDEaMBgGA1UEAxMRTXkgUm9vdCBBdXRob3JpdHkwHhcNMTYwMTE4MjIyNzA5WhcNMzkxMjMxMjM1OTU5WjAdMRswGQYDVQQDHhIAUwBTAFQARwBCAF8AVwBTAFMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBANl02wQ/dApmWUrY9yVAafxliQGOcchvyu0AQF32EYNNyfP89kVWOm4uJlOr/wm/XCSNm4j0aCg49W7HTfgSMuPiGGjTUY9f0F81tkJycHCaFNDbN0ch4svQOl2LkbSvd4En1kze7X27lXnt20f2t0RQf4/svF1ENZSKpk1xUgeFAgMBAAGjUTBPME0GA1UdAQRGMESAEM7CNpqDIzGOyQNS+C7ZdKShHjAcMRowGAYDVQQDExFNeSBSb290IEF1dGhvcml0eYIQH011Jq4J741CSz/ovZPsUzAJBgUrDgMCHQUAA4GBAElGfVxsBF15zffBpsCpw25UqmSNVoqA4podCPUlW8TNdHHnJxqKoM7Ilp4X+R5irzxGGLozB9Y7x3DNhbfBO0GhMGily3Prz+O7V96vRUlKy6cxR1of9DDzJJYPFMnPSjfJJj9fszHZqjCJdNjkozwjJiED6pg35lHn3eTAEXj7" />
        </identity>
      </endpoint>
      <!--<endpoint address="http://www.sstregister.org/Api.svc" binding="wsHttpBinding"
                bindingConfiguration="wsHttpBinding_IApiService" contract="SstRegistrationService.IApiService" name="wsHttpBinding_IApiService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA+w7MHcGBE2xPnOKXsF5F8SU9XDggAAAAAQAAAAsCAAAwggIHMIIBdKADAgECAhCCtqLwg15ItkU1huFQdjPuMAkGBSsOAwIdBQAwHDEaMBgGA1UEAxMRTXkgUm9vdCBBdXRob3JpdHkwHhcNMTYwMTA4MjMzMDIyWhcNMzkxMjMxMjM1OTU5WjAdMRswGQYDVQQDHhIAUwBTAFQARwBCAF8AVwBTAFMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAKi9g9Z0CwPnrlfMnxJRjesaqQTiZ/cPj4MTwoyW5CITRJ8rRqV+4yz/A0qL0w1fgqIUaJI05ZpodEVjE1/tQQl6/IAhgDPayfs7bdQ90n2F75IyaOWWOmr99Nu7qwWhsTnnwGoAd6uMopE2qs4le1+6E0OqkawpnlFEG8JHNupfAgMBAAGjUTBPME0GA1UdAQRGMESAEAhussX83yIYA97NRclT8NihHjAcMRowGAYDVQQDExFNeSBSb290IEF1dGhvcml0eYIQZvVy/YP/wLVA4tk3uZr52DAJBgUrDgMCHQUAA4GBAF83AP/itx396Z4fU+7mPaoVRl2LO4tsY3g5AHoNeF77RyytHWNIFSJysVDZn4yyGMAhi8DZAsQ4D6FHdIjsXIBqkn2I9moww+0KjNqVf/IwTaH1dzd99Mtk6eZVVgCQaAJPiG0Kfv3Q/2po1lAmwD6IngXbWauBcjDYSSUHuIhc" />
        </identity>
      </endpoint>-->
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>